/* OVERRIDES */
.bg-warning {
    background-color: #DE545B !important; /* A different shade of red */
}

.bg-primary {
    background-color: #3C458B !important; /* A different shade of blue, if you wish */
}

.text-danger {
    color: #DE545B !important; /* A different shade of red */
}

.text-warning {
    color: #DE545B !important; /* A different shade of red */
}

.text-primary {
    color: #3C458B !important; /* A different shade of blue, for example */
}

.button-danger {
    color: #DE545B !important;
}

.button-primary {
    color: #3C458B !important;
}

.btn-primary {
  color: #3C458B;
}

/* MAIN */

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

/*  NAVIGATION BAR */
.nav-link-hover:hover {
    color: #DE545B !important; /* Change to red on hover */
}

.navbar span {
    color: #3C458B;
}

/* Dropdown menu styling to match the navbar */
.navbar .dropdown-menu {
    background-color: #85888B; /* Same as navbar background */
    /* If you have a specific font family in use for the navbar, apply it here as well */
  }
  
  /* Dropdown item styling for text color and hover effects */
  .navbar .dropdown-menu .dropdown-item {
    color: #ffffff; /* White text for dropdown items */
    font-weight: normal; /* Match the font weight as per your preference, adjust if needed */
  }
  
  .navbar .dropdown-menu .dropdown-item:hover {
    background-color: #DE545B; /* Optional: Change background color on hover to match the "warning" theme */
    color: white; /* Change text color on hover for better contrast, if needed */
  }

  .navbar-brand-logo {
    max-height: 80px; /* Adjust based on your navbar's height */
    width: auto; /* Keeps the logo's aspect ratio */
    margin-right: 15px; /* Adds some space between the logo and the brand name */
}

/* Targets the button on smaller screens where the dropdown is shown */
.navbar .dropdown button.btn-primary {
  background-color: #3C458B; /* Changes the background color */
  border-color: #ffffff; /* Optional: changes the border color to match */
}

/* Adjust the navbar brand container */
.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

/* Style for the main brand name */
.navbar-brand > div > span {
  font-size: 1.5em; /* Larger text for "HUMMEL" */
  display: block; /* Ensure it's on its own line */
  letter-spacing: 0.25em; /* Adjust as needed */
  margin-bottom: -12px;
}

/* Style for the subtext */
.navbar-brand > div > div {
  font-size: 0.8em; /* Smaller text for the subtext */
  display: block; /* Ensure it's on its own line */
  letter-spacing: normal; /* Adjust if needed for even spacing */
  margin-top: -12px;
}

@media (max-width: 991px) {
    .navbar-brand-logo {
        max-height: 100px; /* Smaller logo for smaller screens, adjust as needed */
    }
}

@media (max-width: 991px) {
  .navbar .container-lg .navbar-brand,
  .navbar .container-lg .navbar-brand > div > span,
  .navbar .container-lg .navbar-brand > div > div {
    align-items: flex-start !important;
    text-align: left !important;
  }
}

.sec-sub-title {
  text-transform: uppercase;
  display: inline-block;
  background: #f3f3f5;
  box-shadow: 9px 9px 12px #e4e4e4, -9px -9px 12px #ffffff;
  padding: 3px 10px;
  border-radius: 40px;
  color: #DE545B;
  font-size: 28px;
  justify-content: center;
  align-items: center;
}

/* CTA Button Styling */
.btn-cta {
  padding: 8px 20px; /* Adjust padding as needed */
  white-space: nowrap; /* Prevents the text inside the button from wrapping */
  color: #ffffff; /* Text color */
  background-color: #DE545B; /* Button color - Adjust based on your design */
  border: 2px solid transparent; /* Border color */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn-cta:hover {
  background-color: #ffffff; /* Background color on hover */
  color: #DE545B; /* Text color on hover */
  border-color: #DE545B; /* Border color on hover */
}

/* Adjust navbar link padding and margin for alignment */
.navbar-nav .nav-item .btn-cta {
  margin-left: 15px; /* Adjust as needed for spacing */
  padding: 8px 15px; /* Button padding */
}

@media (max-width: 991px) {
  /* Adjustments for mobile view if necessary */
  .navbar-nav .nav-item .btn-cta {
      margin-left: 0; /* Remove extra margin in collapsed navbar */
      width: 100%; /* Optional: Make the button full width in dropdown */
  }
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .navbar .btn-cta {
      display: inline-block; /* Make the CTA visible in mobile views */
      margin-left: auto; /* Align it to the right of the navbar */
      margin-right: 10px; /* Spacing from the edge */
  }

  /* Optional: Style adjustments for the button when the navbar is collapsed */
  .navbar .btn-cta {
      padding: 5px 10px; /* Smaller padding for compact appearance */
      font-size: 0.9rem; /* Adjust font size for mobile */
  }
}

/* HOME */

#home {
    padding-top: 150px; /* Adjust as needed to ensure enough space from the navbar */
    padding-bottom: 80px; /* Provides ample space around the content */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 991px) {
    #home {
        /* Increase padding-top to accommodate the height of the navbar when it's collapsed */
        /* This value may need to be adjusted depending on the actual height of your collapsed navbar */
        padding-top: 120px; /* Adjust this value based on your navbar's height in mobile view */
    }
}

/* Further adjustment if navbar height significantly changes */
@media (max-width: 768px) {
    #home {
        padding-top: 140px; /* Adjust as needed for smaller devices */
    }
}


#hummelCarousel .carousel-inner img {
    max-height: 250px; /* Adjust this value as needed */
    width: auto;
    margin: auto; /* This centers the images if they are not wide enough to fill the container */
}

.scroll-container {
    overflow: hidden;
    width: 100%;
    max-height: 300px; /* Set your desired maximum height here */
    position: relative;
  }
  
  .scrolling-wrapper {
    display: flex;
    width: calc(100% * 8); /* Adjust based on the number of images */
    animation: scroll 20s linear infinite;
  }
  
  .scroll-image {
    max-height: 300px; /* Set your desired maximum height here */
    width: auto; /* Adjust width automatically to maintain aspect ratio */
    object-fit: cover; /* Maintains aspect ratio and covers the height of the container */
    transition: transform 0.5s ease-in-out; /* Smoothens the start and end of the scrolling */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds depth to the images */
    margin-right: 15px; /* Adds a small gap between images */
    border-radius: 15px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Scrolls half the total width to loop */
    }
  }
  
  @media (max-width: 768px) {
    #home {
        padding-top: 100px; /* Adjusted for smaller screens */
    }
    .scrolling-wrapper {
        width: calc(100% * 8); /* Ensure this matches the total number of images including duplicates */
    }
}
  /* SERVICES */
  .icon-background {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Maintains the circle shape */
    background-color: #ff8c00; /* Example: Dark orange for heating. Adjust as needed for each service */
    margin: auto;
    margin-top: -50px; /* Pulls the icon above the card */
    position: relative; /* Ensures the shadow respects the icon's shape */
    z-index: 1; /* Elevates the icon above other elements */
    
    /* Shadow to create a "lifting" effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    
    /* Transition for a smooth "pop" effect on hover */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .icon-background:hover {
    /* Slightly "lifts" the icon on hover for added interactivity */
    transform: translateY(-5px);
    
    /* Enhances the shadow to reinforce the lifting effect */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.19), 0 9px 9px rgba(0, 0, 0, 0.23);
  }
  
  .card {
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally in the card */
}

.card-body {
  text-align: center; /* Centers text and inline elements like buttons */
}

.card .icon-background {
  display: flex; /* Uses flexbox for centering */
  justify-content: center; /* Centers the child elements horizontally */
  align-items: center; /* Centers the child elements vertically */
  margin-left: auto; /* Additional centering for margin auto */
  margin-right: auto; /* Additional centering for margin auto */
}


h2.sec-sub-title {
  text-align: center; /* Explicitly center-align the text */
  width: 100%; /* Ensure the element spans the full width */
  margin: 0 auto; /* Center-align the element within its parent container */
}


/* For the cooling icon, you can directly set the background-color inline or use an additional class */
.cooling-icon-background {
    background-color: #007bff; /* Blue for cooling */
}

/* Heating Button */
.btn-heating {
  background-color: #d6743c; /* Icon background color */
  color: white;
  border: 2px solid transparent; /* Prepare for hover state */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.btn-heating:hover {
  background-color: white; /* Swap colors */
  color: #d6743c; /* Icon background color */
  border-color: #d6743c; /* Matching border */
}

/* Cooling Button */
.btn-cooling {
  background-color: #007bff; /* Icon background color */
  color: white;
  border: 2px solid transparent;
}

.btn-cooling:hover {
  background-color: white;
  color: #007bff;
  border-color: #007bff;
}

/* Gas Button */
.btn-gas {
  background-color: #973e3e; /* Icon background color */
  color: white;
  border: 2px solid transparent;
}

.btn-gas:hover {
  background-color: white;
  color: #973e3e;
  border-color: #973e3e;
}

/* Plumbing Button */
.btn-plumbing {
  background-color: #3f668f; /* Icon background color */
  color: white;
  border: 2px solid transparent;
}

.btn-plumbing:hover {
  background-color: white;
  color: #3f668f;
  border-color: #3f668f;
}

/* BRANDS */
.brands-list .brand {
  margin: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: inline-block;
  transform: rotate(0deg); /* Ensure there's no rotation initially */
}

.brand-logo {
  width: 200px; /* Adjusted to your logo size */
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: block; /* Ensures the image scales properly */
}

.brands-list .brand:hover {
  transform: scale(1.05) rotate(5deg); /* Scales up and rotates slightly on hover */
  opacity: 0.8; /* Slightly reduces opacity to add focus */
}

