/* OVERRIDES */
.bg-warning {
    background-color: #DE545B !important; /* A different shade of red */
}

.bg-primary {
    background-color: #3C458B !important; /* A different shade of blue, if you wish */
}

.text-danger {
    color: #DE545B !important; /* A different shade of red */
}

.text-warning {
    color: #DE545B !important; /* A different shade of red */
}

.text-primary {
    color: #3C458B !important; /* A different shade of blue, for example */
}

.button-danger {
    color: #DE545B !important;
}

.button-primary {
    color: #3C458B !important;
}

.btn-primary {
  color: #3C458B;
}

/* MAIN */

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

/*  NAVIGATION BAR */
.nav-link-hover:hover {
    color: #DE545B !important; /* Change to red on hover */
}

.navbar span {
    color: #3C458B;
}

/* Dropdown menu styling to match the navbar */
.navbar .dropdown-menu {
    background-color: #85888B; /* Same as navbar background */
    /* If you have a specific font family in use for the navbar, apply it here as well */
  }
  
  /* Dropdown item styling for text color and hover effects */
  .navbar .dropdown-menu .dropdown-item {
    color: #ffffff; /* White text for dropdown items */
    font-weight: normal; /* Match the font weight as per your preference, adjust if needed */
  }
  
  .navbar .dropdown-menu .dropdown-item:hover {
    background-color: #DE545B; /* Optional: Change background color on hover to match the "warning" theme */
    color: white; /* Change text color on hover for better contrast, if needed */
  }

  .navbar-brand-logo {
    max-height: 80px; /* Adjust based on your navbar's height */
    width: auto; /* Keeps the logo's aspect ratio */
    margin-right: 15px; /* Adds some space between the logo and the brand name */
}

/* Targets the button on smaller screens where the dropdown is shown */
.navbar .dropdown button.btn-primary {
  background-color: #3C458B; /* Changes the background color */
  border-color: #ffffff; /* Optional: changes the border color to match */
}

/* Adjust the navbar brand container */
.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

/* Style for the main brand name */
.navbar-brand > div > span {
  font-size: 1.5em; /* Larger text for "HUMMEL" */
  display: block; /* Ensure it's on its own line */
  letter-spacing: 0.25em; /* Adjust as needed */
  margin-bottom: -12px;
}

/* Style for the subtext */
.navbar-brand > div > div {
  font-size: 0.8em; /* Smaller text for the subtext */
  display: block; /* Ensure it's on its own line */
  letter-spacing: normal; /* Adjust if needed for even spacing */
  margin-top: -12px;
}

@media (max-width: 991px) {
    .navbar-brand-logo {
        max-height: 100px; /* Smaller logo for smaller screens, adjust as needed */
    }
}

@media (max-width: 991px) {
  .navbar .container-lg .navbar-brand,
  .navbar .container-lg .navbar-brand > div > span,
  .navbar .container-lg .navbar-brand > div > div {
    align-items: flex-start !important;
    text-align: left !important;
  }
}

.sec-sub-title {
  text-transform: uppercase;
  display: inline-flex;
  background: #f3f3f5;
  box-shadow: 9px 9px 12px #e4e4e4, -9px -9px 12px #ffffff;
  padding: 3px 10px;
  border-radius: 40px;
  color: #DE545B;
  font-size: 28px;
  justify-content: center;
  align-items: center;
}

/* HOME */

#home {
    padding-top: 150px; /* Adjust as needed to ensure enough space from the navbar */
    padding-bottom: 80px; /* Provides ample space around the content */
}



#hummelCarousel .carousel-inner img {
    max-height: 250px; /* Adjust this value as needed */
    width: auto;
    margin: auto; /* This centers the images if they are not wide enough to fill the container */
}

.scroll-container {
    overflow: hidden;
    width: 100%;
    max-height: 300px; /* Set your desired maximum height here */
    position: relative;
  }
  
  .scrolling-wrapper {
    display: flex;
    width: calc(100% * 8); /* Adjust based on the number of images */
    animation: scroll 20s linear infinite;
  }
  
  .scroll-image {
    max-height: 300px; /* Set your desired maximum height here */
    width: auto; /* Adjust width automatically to maintain aspect ratio */
    object-fit: cover; /* Maintains aspect ratio and covers the height of the container */
    transition: transform 0.5s ease-in-out; /* Smoothens the start and end of the scrolling */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds depth to the images */
    margin-right: 15px; /* Adds a small gap between images */
    border-radius: 15px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Scrolls half the total width to loop */
    }
  }
  
  @media (max-width: 768px) {
    #home {
        padding-top: 100px; /* Adjusted for smaller screens */
    }
    .scrolling-wrapper {
        width: calc(100% * 8); /* Ensure this matches the total number of images including duplicates */
    }
}
  /* SERVICES */
  .icon-background {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Creates a circle */
    background-color: #ff8c00; /* Dark orange for heating */
    margin: auto;
    margin-top: -50px; /* Adjust as needed */
}

h2.sec-sub-title {
  text-align: center; /* Explicitly center-align the text */
  width: 50%; /* Ensure the element spans the full width */
  margin: 0 auto; /* Center-align the element within its parent container */
}


/* For the cooling icon, you can directly set the background-color inline or use an additional class */
.cooling-icon-background {
    background-color: #007bff; /* Blue for cooling */
}

/* FontAwesome icon color is set to white by default in the HTML through the "text-white" class */
